
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');
body {
  background-color: lightblue;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Open Sans', sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #b1dae7;
    border: 1px solid #555;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #555;
  color: white;
}